name: Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Installing Dependencies
        run: npm i

      - name: Build command
        run: npm run build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-build-artifact
          path: .next/           
          if-no-files-found: warn
          retention-days: 1

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Installing Dependenciesssss
        run: npm i
        
      - name: Running test cases
        run: npm run test
