name: Integration

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node (Frontend)
        uses: actions/setup-node@v4
        with:
          node-version-file: frontend/package.json
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: npm ci --prefix frontend

      - name: Build frontend
        run: npm run build --prefix frontend


      - name: Setup Node (Backend)
        uses: actions/setup-node@v4
        with:
          node-version-file: backend/package.json
          cache: npm
          cache-dependency-path: backend/package-lock.json

      - name: Install backend dependencies
        run: npm ci --prefix backend


      - name: Upload frontend build artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist
          if-no-files-found: warn
          retention-days: 1

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


      - name: Setup Node (Backend)
        uses: actions/setup-node@v4
        with:
          node-version-file: backend/package.json
          cache: npm
          cache-dependency-path: backend/package-lock.json

      - name: Install backend dependencies
        run: npm ci --prefix backend

      - name: Run backend tests
        run: npm test --prefix backend

      - name: Setup Node (Frontend)
        uses: actions/setup-node@v4
        with:
          node-version-file: frontend/package.json
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        run: npm ci --prefix frontend

      - name: Run frontend tests
        run: npm test --prefix frontend
